@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        FluentUI TripPin
    </FluentHeader>
    <FluentSplitter BarSize="6" Orientation="Orientation.Horizontal" Panel1MinSize="20%" Panel1Size="300px" Panel2MinSize="200px">
        <Panel1>
            <NavMenu />
        </Panel1>
        <Panel2>
            <FluentBodyContent Class="body-content">
                <div class="content">
                    <article id="article">
                        <FluentMessageBarProvider Section="@App.MESSAGES_TOP" />
                        @Body
                    </article>
                </div>
            </FluentBodyContent>
        </Panel2>
    </FluentSplitter>
    <FluentFooter Style="height: 40px; color: white; font-size: var(--type-ramp-minus-1-font-size); line-height: var(--type-ramp-base-line-height);">
        <div class="link1">
            <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        </div>
        <FluentSpacer />
        <div class="link2">
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
        </div>
    </FluentFooter>
</FluentLayout>
