@using FluentUI.TripPin.Model
@using Microsoft.OData.Edm

<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Title="Entity navigation menu">
            @foreach (var name in _elements)
            {
                <FluentNavLink Href="@($"/?entity={name}")" Icon="@(new Icons.Regular.Size20.Table())" IconColor="Color.Accent">@name</FluentNavLink>
            }
        </FluentNavMenu>
    </nav>
</div>

@code {
    private IEnumerable<string> _elements = [];

    [Inject]
    private Container Container { get; set; } = default!;

    protected override void OnInitialized()
    {
        var model = Container.Format.LoadServiceModel();
        _elements = model.EntityContainer.Elements
            .Where(s => s.ContainerElementKind == EdmContainerElementKind.EntitySet)
            .Select(s => s.Name);
    }
}
